/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.site-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  margin: 0px;
  padding: 0px;

  font: inherit;
  font-size: 21px;
  line-height: 26px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.header {
  position: relative;
}


.navigation {
  padding-left: 72px;
  padding-right: 72px;

  text-align: center;
  line-height: 26px;
}

.navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-items li {
  width: 240px;
  margin: 0;
  padding: 0;
}

.navigation-items a {
  display: block;
  vertical-align: center;
  padding-top: 15px;
  padding-bottom: 16px;

  color: #000000;
}

.navigation a:hover {
  color: #81b3d2;
}

.navigation a:focus {
  color: rgba(0,0,0,0.3);
}

navigation a:active {
  color: rgba(0,0,0,0.3);
}

.navigation-items .nav-item-current {
  color: #766357;
}

.navigation .nav-item-current:hover {
  color: #766357;
}

.logo {
  position: absolute;

  width: 140px;
  height: 71px;

  left: 530px;
  margin-bottom: -15px;
}

.navigation-items li:nth-child(4n+1) {
  text-align: left;
}

.navigation-items li:nth-child(4n+2) {
  text-align: left;
}

.navigation-items li:nth-child(4n+3) {
  margin-left: auto;
  text-align: right;
}

.navigation-items li:nth-child(4n+4) {
  text-align: right;
}

.welcome {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.background-container {
  width: 1200px;
  height: 508px;
  background-color: #ebebeb;
  background-image: url("../img/mask.svg"), url("../img/welcome-background.jpg");
  background-repeat: no-repeat;
  background-position: 0px 451px, 0px -82px;
  background-size: 1200px 59px, 1200px 800px;

  margin: 0;
  padding: 0;
}

.background-container img {
  width: 459px;
  height: 353px;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 71px;
  display: block;
}

.welcome .container {
  width: 100%;
  background-color: #ffffff;

  padding-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.welcome p {
  width: 441px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 14px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;

  background-color: #ffffff;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: 0;
  padding: 0;
  margin-bottom: 50px;

  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages-introduction {
  margin-bottom: 51px;
}

.advantages-list,
.white-advantages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blue-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  margin: 0;
  padding: 0;

  line-height: 21px;
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.blue-advantage .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.blue-item {
  width: 400px;
  min-height: 256px;
  margin: 0;
  padding: 0;
  padding-top: 49px;
  padding-bottom: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.advantages-title {
  font-size: 21px;
  width: 155px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.advantages-text {
  font: inherit;
  font-weight: 400;

  width: 282px;

  margin: 0;
  padding: 0;

  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
}

.bridge-advantage .advantages-text {
  width: 305px;
}

.sedona-picture,
.mountains-picture {
  width: 800px;
  height: 256px;
  background-color: #81b3d2;
}

.white-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  line-height: 21px;
  background-color: #ffffff;
}

.white-advantage li {
  margin: 0;
  padding: 0;
  width: 400px;
  padding-top: 162px;
  padding-bottom: 84px;
}

.living,
.food,
.souvenirs {
  position: relative;
}

.living .advantages-item-title::before {
  content: "";

  position: absolute;
  top: 60px;
  right: 163px;

  width: 75px;
  height: 72px;

  background-image: url("../img/house-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food .advantages-item-title::before {
  content: "";

  position: absolute;
  top: 60px;
  right: 163px;

  width: 74px;
  height: 70px;

  background-image: url("../img/burger-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.souvenirs .advantages-item-title::before {
  content: "";

  position: absolute;
  top: 56px;
  right: 167px;

  width: 64px;
  height: 76px;

  background-image: url("../img/gift-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-item-title {
  font-size: 21px;
  line-height: 21px;

  color: #000000;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 23px;
}

.advantages-item-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.living .advantages-item-text {
  width: 254px;
}

.food .advantages-item-text {
  width: 285px;
}

.souvenirs .advantages-item-text {
  width: 274px;
}

.bridge-advantage {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.grey-advantage {
  width: 400px;
  margin: 0;
  padding: 0;
  padding-top: 49px;
  padding-bottom: 60px;

  background-color: #eeeeee;
}

.grey-advantage .advantages-item-title {
  width: 121px;
  line-height: 21px;
}

.grey-advantage .advantages-item-text {
  margin-top: 24px;
}

.area .advantages-item-text {
  width: 210px;
}

.road .advantages-item-text {
  width: 264px;
}

.tourists .advantages-item-text {
  width: 252px;
}

/* форма на главной странице*/

.index-form-section {
  position: relative;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.index-form-section p {
  width: 436px;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.index-form-title {
  font-size: 30px;
  line-height: 36px;

  margin: 0;
  padding: 0;
  margin-bottom: 23px;

  color: #000000;
}

.brown-button {
  width: 568px;
  font-weight: 700;
  margin: 0px;
  padding-top: 31px;
  padding-bottom: 30px;

  background-color: #766357;
}

.index-form {
  position: absolute;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 568px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  margin-left: -284px;
  padding: 53px;
  padding-top: 54px;

  font: inherit;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0,1,1,0.15);
  box-shadow: 0px 7px 15px 0 rgba(0,1,1,0.15);
}

.index-form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding-top: 5px;
  padding-bottom: 3px;

  border: none;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.index-form input[type="text"]::-webkit-input-placeholder {
  color: #000000;
}

.index-form input[type="text"]::-moz-placeholder {
  color: #000000;
}

.index-form input[type="text"]:-ms-input-placeholder {
  color: #000000;
}

.index-form input[type="text"]::-ms-input-placeholder {
  color: #000000;
}

.index-form input[type="text"]::placeholder {
  color: #000000;
}

.index-form input:hover {
  background-color: #ebebeb;
}

.index-form input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: none;
}

.index-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrival-date,
.departure-date {
  margin-bottom: 30px;
}

.form-container {
  margin-bottom: 26px;
  width: 100%;
}

.arrival-date input,
.departure-date input {
  position: relative;
  width: 346px;
  height: 38px;
  margin-left: 20px;
  padding-left: 11px;
  padding-right: 35px;
  border: solid 2px transparent;
}

.arrival-date label {
  padding-top: 8px;
  padding-left: 2px;
  margin-right: 1px;
}

.arrival-button {
  position: absolute;
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  bottom: 303px;
  right: 57px;

  background: transparent;
  border: none;
}

.departure-date label,
.adults label,
.children label {
  padding-top: 8px;
}

.adults label {
  margin-right: 41px;
}

.children label {
  margin-right: 27px;
}

.departure-button {
  position: absolute;
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  right: 56px;
  top:123px;

  background: transparent;
  border: none;
}

.arrival-button:hover path,
.departure-button:hover path {
  fill: #000000;
}

.arrival-button:focus path,
.departure-button:focus path,
.arrival-button:active path,
.departure-button:active path{
  fill: #81b3d2;
}

.adults input {
  width: 38px;
  height: 38px;
  padding-right: 3px;
  padding-left: 3px;
  text-align: center;
}

.adults-reduce {
  position: relative;
  width: 38px;
  height: 38px;

  padding: 0;
  border: none;
  background-color: #f2f2f2;
}

.adults-reduce::before {
  content: "—";

  position: absolute;
  top: 8px;
  left: 11px;

  font-size: 21px;
  font-weight: 700;
  color: #a9a9a9;
}

.adults-increase {
  position: relative;
  width: 38px;
  height: 38px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  padding: 17px;
  border: none;
  background-color: #f2f2f2;
}

.adults-increase::before {
  content: "+";

  position: absolute;
  top: 10px;
  left: 12px;
  font-size: 22px;
  font-weight: bold;
  color: #a9a9a9;
}

.children {
  margin-left: 53px;
}

.children input {
  width: 38px;
  height: 38px;
  text-align: center;
}

.children-reduce {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  padding: 17px;
  margin-bottom: 29px;

  border: none;
  background-color: #f2f2f2;
}

.children-reduce::before {
  content: "—";
  width: 10px;
  height: 10px;

  position: absolute;
  top: 9px;
  left: 13px;

  font-size: 21px;
  font-weight: 700;
  color: #a9a9a9;
}

.children-increase {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  padding: 17px;
  border: none;
  background-color: #f2f2f2;
}

.children-increase::before {
  content: "+";

  position: absolute;
  top: 10px;
  left: 13px;
  font-size: 22px;
  font-weight: bold;
  color: #a9a9a9;

  background-repeat: no-repeat;
}

.children-increase:hover::before,
.children-reduce:hover::before,
.adults-increase:hover::before,
.adults-reduce:hover::before {
  color: #000000;
}

.children-increase:focus::before,
.children-reduce:focus::before,
.adults-increase:focus::before,
.adults-reduce:focus::before,
.children-increase:active::before,
.children-reduce:active::before,
.adults-increase:active::before,
.adults-reduce:active::before {
  color: #81b3d2;
}

.blue-button {
  width: 100%;
  background-color: #81b3d2;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.map {
  width: 1200px;
  height: 593px;
  margin: 0;
  padding: 0;
  border: none;

  background-color: #eeeeee;
}

/* подвал сайта */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: -120px;
  padding-top: 18px;
  padding-left: 132px;
  padding-right: 101px;
  padding-bottom: 18px;

  background-color: #ffffff;
  opacity: 0.9;
}

.footer .container {
  width: 224px;
  margin-top: 30px;
}

.contacts,
.phone-number {
  font-size: 21px;
  line-height: 26px;
  color: #000000;

  margin: 0;
  padding: 0;
}

.phone-number {
  display: inline-block;
  vertical-align: middle;
}

.contacts {
  margin-bottom: 4px;
}

.social-buttons {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 59px;
}

.social-buttons li {
  background-color: #81b3d2;
  margin-top: 5px;
  margin-bottom: 5px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #81b3d2;
  width: 47px;
  height: 47px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus path {
  opacity: 0.3;
}

.social-button:focus {
  background-color: #5496bd;
}

.footer-copyright {
  width: 197px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 0;
  padding: 0;
  padding-top: 6px;
}

.contact-htmlacademy {
  font-size: 14px;
  font-weight: 400;

  display: inline-block;
  vertical-align: baseline;
  padding-bottom: 5px;
  margin-right: 8px;
}

.logo-html {
  display: inline-block;
  vertical-align: baseline;
  width: 115px;
}

/*.footer-copyright a:focus {*/
/*  outline: none;*/
/*}*/

.logo-html svg {
  width: 115px;
  height: 41px;
}

.logo-html:hover path {
  fill: #81b3d2;
}

.logo-html:focus path {
  fill: #bdbbbc;
}

.footer-hotels {
  margin-top: 0;
}

.footer-hotels .container {
  margin-top: 27px;
}

/* фильтр на странице поиска гостиницы*/

.filter {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-right: 72px;
  padding-left: 72px;
  padding-bottom: 7px;

  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.infrastructure,
.housing,
.price-form {
  border: none;
  margin: 0;
  padding: 0;
}

.infrastructure {
  width: 240px;
}

.housing {
  width: 240px;
  margin-left: 15px;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;

  text-align: left;
  margin-bottom: 24px;
}

.price-form {
  width: 318px;
  color: #ffffff;
  text-transform: uppercase;
}

.price-form .filter-title {
  margin-bottom: 10px;
}

.filter-item {
  font: inherit;
  font-weight: 400;
  margin-bottom: 25px;
  position: relative;
}

.filter-item label {
  display: inline-block;
  vertical-align: middle;
  padding-left: 40px;
  text-align: left;
}


.filter-input-checkbox:checked ~ .checkbox-on {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  left: 0px;
}

.filter-input-checkbox:checked ~ .checkbox-off {
  display: none;
}

.filter-input-checkbox ~ .checkbox-on {
  display: none;
}

.filter-input-checkbox ~ .checkbox-off {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  left: 0px;
}

.checkbox input[type="checkbox"]:focus + .checkbox-on,
.checkbox input[type="checkbox"]:focus ~ .checkbox-off {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.checkbox .filter-input-checkbox:disabled ~ .checkbox-off,
.checkbox .filter-input-checkbox:checked:disabled ~ .checkbox-on {
  fill: #6a6a6a;
}

.marks {
  border: solid 2px #ffffff;

  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border-radius: 2px;
}

.marks label {
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  font-weight: 400;
  line-height: 33px;


  cursor: pointer;
}

.marks .min-price,
.marks .max-price {
  width: 90px;
  padding-left: 65px;
}

.marks .max-price {
  padding-left: 54px;
}

.marks input {
  margin: 0;
  padding: 0;

  font: inherit;
  color: inherit;
  border: none;

  width: 50px;
  height: 32px;
  background: none;
}

.marks span {
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 22px;

  margin-top: 5px;
  margin-left: 1px;
  background: #ffffff;
}

.price-range {
  position: relative;
  margin-bottom: 32px;
}

.price-range .line-grey {
  height: 2px;
  background: rgba(255,255,255,0.3);
}

.price-range .line-white {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.circles {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.circles:hover {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 9px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.circle-left {
  left: 0;
}

.circle-right {
  left: 80%;
}

.filter-button {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 97px;
  margin-left: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 33px;
  padding-right: 33px;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border: solid 2px #ffffff;

  background-color: transparent;
}

.filter-button:hover {
  color: #000000;

  background-color: #ffffff;
}

.sorting-field {
  margin: 0;
  padding: 0;
}

.sorting-field .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 31px;
  padding-left: 72px;
  padding-right: 73px;
  padding-bottom: 29px;
}

.sorting-results {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  margin-right: 47px;
}

.sorting-title,
.sorting-items a {
  margin: 0;
  padding: 0;


  font: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sorting-title {
  margin-right: 40px;
}

.sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 555px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.sorting-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 33px;
}

.sorting-items a {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 34px;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-items a:last-child {
  margin-right: 0px;
}

.sorting-items .active {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-items a:hover {
  color: #81b3d2;
}

.sorting-items a:focus {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}

.price-sorting,
.type-sorting {
  width: 49px;
}

.rating-sorting {
  width: 76px;
}

.sorting-marks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 34px;
  padding-top: 3px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sorting-mark:hover path {
  fill: #000000;
}

.active-mark path,
.sorting-mark:focus path {
  fill: #81b3d2;
}

/* карточки с гостиницами*/

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  /*padding-top: 30px;*/
  /*padding-bottom: 24px;*/
  padding-left: 72px;
  padding-right: 72px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hotel-items section:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.hotel-item .container {
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 24px;
}

.hotel-item-picture {
width: 135px;
height: 90px;
}

.hotel-item-picture img {
width: 135px;
height: 90px;

margin: 0;
padding: 0;
}

.hotel-wrapper {
width: 265px;

margin: 0;
padding: 0;
margin-left: 30px;
margin-top: -3px;
}

.hotel-item h3 {
margin: 0;
padding: 0;
font-size: 21px;
}

.hotel-item .hotel-title {
display: block;
margin: 0;
padding: 0;
margin-bottom: 6px;

font: inherit;
line-height: 26px;
text-align: left;
color: #000000;
}

.hotel-title:hover {
color: #81b3d2;
}

.hotel-wrapper .hotel-title:focus {
color: rgba(0,0,0,0.3);
}

.hotel-info {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;

margin: 0;
padding: 0;
margin-bottom: 16px;

font: inherit;
font-weight: 400;
color: #333333;
}

.hotel-type {
width: 110px;
margin: 0;
padding: 0;
margin-right: 6px;
}

.hotel-price {
width: 142px;
margin: 0;
padding: 0;
}

.button-wrapper {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.hotel-button {
font-size: 14px;
line-height: 21px;
font-weight: 700;

margin-right: 7px;
margin-bottom: 5px;
padding-top: 3px;
padding-bottom: 4px;
padding-left: 16px;
padding-right: 17px;

background-color: #81b3d2;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.book-button {
font-size: 14px;
line-height: 21px;
font-weight: 700;

margin-right: 6px;
margin-bottom: 5px;
padding-top: 3px;
padding-bottom: 4px;
padding-left: 16px;
padding-right: 16px;

background-color: #766357;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.book-button:hover,
.brown-button:hover {
background-color: #604e43;
}

.book-button:focus,
.brown-button:focus,
.book-button:active,
.brown-button:active {
color: rgba(255,255,255,0.3);
background-color: #503e33;
}

.blue-button:hover,
.hotel-button:hover {
background-color: #669ec0;
}

.blue-button:focus,
.hotel-button:focus,
.blue-button:active,
.hotel-button:active {
color: rgba(255,255,255,0.3);
background-color: #5496bd;
}

.rating-stars {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;

list-style: none;
margin: 0;
padding: 0;
margin-bottom: 47px;
  margin-top: 30px;
  /*margin-bottom: 24px;*/
}

.rating-stars li {
width: 18px;
height: 17px;
margin-left: 6px;
}

.rating {
display: inline-block;
vertical-align: middle;
margin: 0;
padding: 0;
padding-top: 3px;
padding-bottom: 2px;
padding-left: 15px;
padding-right: 13px;

font: inherit;
font-weight: 400;
color: #666666;

background-color: #f2f2f2;
}
